@import '@sweetalert2/theme-dark/dark.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    border-color: #c26c11 !important;
    box-shadow: 0 0 0 1px rgb(240, 138, 29) !important;
}

.datatable-input:focus {
    border-color: #b65800 !important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 174, 0, 0.25) !important;
}

.datatable-selector:focus {
    border-color: #b65800 !important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 174, 0, 0.25) !important;
}

input[type="radio"]:checked {
    accent-color: #f08a1d !important;
}

.scroll-style::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}
.scroll-style::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
.scroll-style::-webkit-scrollbar-thumb {
    background: #FF9800;
    border: 0px none #FF9800;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.scroll-style::-webkit-scrollbar-thumb:hover {
    background: #ffb341;
}

.scroll-style::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none transparent;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.scroll-style::-webkit-scrollbar-corner {
    background: #FF9800;
}

.filepond--panel-root {
    background-color: #111827 !important;
    border: 1px solid #4b5563;
}
.filepond--drop-label {
    color: #909090 !important;
}

.filepond--root .filepond--credits {
    display: hidden !important;
}

* {
    /* border: 1px solid red; */
}